<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

    <!-- Meta data -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta content="DayOne - It is one of the Major Dashboard Template which includes - HR, Employee and Job Dashboard. This template has multipurpose HTML template and also deals with Task, Project, Client and Support System Dashboard." name="description">
    <meta content="Spruko Technologies Private Limited" name="author">
    <meta name="keywords" content="admin dashboard, admin panel template, html admin template, dashboard html template, bootstrap 4 dashboard, template admin bootstrap 4, simple admin panel template, simple dashboard html template,  bootstrap admin panel, task dashboard, job dashboard, bootstrap admin panel, dashboards html, panel in html, bootstrap 4 dashboard" />

    <!-- Title -->
    <title>Dayone - Multipurpose Admin & Dashboard Template</title>

    <!--Favicon -->
    <link rel="icon" href="../../assets/images/brand/favicon.ico" type="image/x-icon" />

    <!-- Bootstrap css -->
    <link href="../../assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />

    <!-- Style css -->
    <link href="../../assets/css/style.css" rel="stylesheet" />
    <link href="../../assets/css/dark.css" rel="stylesheet" />
    <link href="../../assets/css/skin-modes.css" rel="stylesheet" />

    <!-- Animate css -->
    <link href="../../assets/css/animated.css" rel="stylesheet" />

    <!---Icons css-->
    <link href="../../assets/css/icons.css" rel="stylesheet" />

    <!-- Select2 css -->
    <link href="../../assets/plugins/select2/select2.min.css" rel="stylesheet" />

    <!-- P-scroll bar css-->
    <link href="../../assets/plugins/p-scrollbar/p-scrollbar.css" rel="stylesheet" />

</head>

<body>

    <div class="page relative error-page3">
        <div class="row no-gutters">
            <div class="col-xl-6 h-100vh">
                <div class="cover-image h-100vh" data-image-src="../../assets/images/photos/login3.jpg">
                    <div class="container">
                        <div class="customlogin-imgcontent">
                            <h2 class="mb-3 fs-35 text-white">Welcome To Dayone</h2>
                            <p class="text-white-50">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 bg-white h-100vh">
                <div class="container">
                    <div class="customlogin-content">
                        <div class="pt-4 pb-2">
                            <a class="header-brand" href="index.html">
                                <img src="../../assets/images/brand/logo.png" class="header-brand-img custom-logo" alt="Dayonelogo">
                                <img src="../../assets/images/brand/logo-white.png" class="header-brand-img custom-logo-dark" alt="Dayonelogo">
                            </a>
                        </div>
                        <div class="p-4 pt-6">
                            <h1 class="mb-2">Login</h1>
                            <p class="text-muted">Sign In to your account</p>
                        </div>
                        @*<form class="card-body pt-3" id="login" name="login">
                                <div class="form-group">
                                    <label class="form-label">Mail or Username</label>
                                    <input class="form-control" placeholder="Email" type="email">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Password</label>
                                    <input class="form-control" placeholder="password" type="password">
                                </div>
                                <div class="form-group">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" name="example-checkbox1" value="option1">
                                        <span class="custom-control-label">Remeber me</span>
                                    </label>
                                </div>
                                <div class="submit">
                                    <a class="btn btn-primary btn-block" href="index.html">Login</a>
                                </div>
                                <div class="text-center mt-3">
                                    <p class="mb-2"><a href="#">Forgot Password</a></p>
                                    <p class="text-dark mb-0">Don't have account?<a class="text-primary ml-1" href="#">Register</a></p>
                                </div>
                            </form>*@
                        @RenderBody()
                        <div class="card-body border-top-0 pb-6 pt-2">
                            <div class="text-center">
                                <span class="avatar brround mr-3 bg-primary-transparent text-primary"><i class="ri-facebook-line"></i></span>
                                <span class="avatar brround mr-3 bg-primary-transparent text-primary"><i class="ri-instagram-line"></i></span>
                                <span class="avatar brround mr-3 bg-primary-transparent text-primary"><i class="ri-twitter-line"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery js-->
    <script src="../../assets/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap4 js-->
    <script src="../../assets/plugins/bootstrap/popper.min.js"></script>
    <script src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- Select2 js -->
    <script src="../../assets/plugins/select2/select2.full.min.js"></script>

    <!-- P-scroll js-->
    <script src="../../assets/plugins/p-scrollbar/p-scrollbar.js"></script>

    <!-- Custom js-->
    <script src="../../assets/js/custom.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
