<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

    <!-- Meta data -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta content="BugZapper - The tool that helps you banish bugs from your code." name="description">
    <meta content="Stephen Souvall" name="author">
    <meta name="keywords" content="Bug tracker, issue tracker, ticket tracking" />

    <!-- Title -->
    <title>BugZapper - An Issue Tracking System</title>

    <!--Favicon -->
    <link rel="icon" href="~/assets/images/brand/favicon-32x32.png" type="image/x-icon" />

    <!-- Bootstrap css -->
    <link href="~/assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />

    <!-- Style css -->
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/css/dark.css" rel="stylesheet" />
    <link href="~/assets/css/skin-modes.css" rel="stylesheet" />

    <!-- Animate css -->
    <link href="~/assets/css/animated.css" rel="stylesheet" />

    <!---Icons css-->
    <link href="~/assets/css/icons.css" rel="stylesheet" />

    <!-- Select2 css -->
    <link href="~/assets/plugins/select2/select2.min.css" rel="stylesheet" />

    <!-- P-scroll bar css-->
    <link href="~/assets/plugins/p-scrollbar/p-scrollbar.css" rel="stylesheet" />

</head>

<body>

    <div class="page relative error-page3">
        <div class="row no-gutters">
            <div class="col-xl-6 h-100vh">
                <div class="cover-image h-100vh" data-image-src="//i.ibb.co/Cbx6yQN/login-Bg-2.jpg">
                    <div class="container">
                        <div class="customlogin-imgcontent">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 bg-white h-100vh">
                <div class="container">
                    <div class="customlogin-content">
                        <div class="pt-4 pb-2">
                            <a class="header-brand" href="index.html">
                                <div class="text-center">
                                    <img src="~/assets/images/brand/bugzapper.png" class="header-brand-img custom-logo w-50 h-auto" alt="Bugzapper logo">
                                </div>
                            </a>
                        </div>
                        @RenderBody()
                        <div class="card-body border-top-0 pb-6 pt-2">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery js-->
    <script src="~/assets/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap4 js-->
    <script src="~/assets/plugins/bootstrap/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- Select2 js -->
    <script src="~/assets/plugins/select2/select2.full.min.js"></script>

    <!-- P-scroll js-->
    <script src="~/assets/plugins/p-scrollbar/p-scrollbar.js"></script>

    <!-- Custom js-->
    <script src="~/assets/js/custom.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
