@{
    ViewData["Title"] = "Home Page";
}

<div class="app-content main-content">
    <div class="side-app">

        <!--app header-->
        <div class="app-header header">
            <div class="container-fluid">
                <div class="d-flex">
                    <a class="header-brand" href="index.html">
                        <ul class="ml-auto">
                            <partial name="_LoginPartial" />
                        </ul>
                        <img src="../../assets/images/brand/logo.png" class="header-brand-img desktop-lgo" alt="Dayonelogo">
                        <img src="../../assets/images/brand/logo-white.png" class="header-brand-img dark-logo" alt="Dayonelogo">
                        <img src="../../assets/images/brand/favicon.png" class="header-brand-img mobile-logo" alt="Dayonelogo">
                        <img src="../../assets/images/brand/favicon1.png" class="header-brand-img darkmobile-logo" alt="Dayonelogo">
                    </a>
                    <div class="app-sidebar__toggle" data-toggle="sidebar">
                        <a class="open-toggle" href="#">
                            <i class="feather feather-menu"></i>
                        </a>
                        <a class="close-toggle" href="#">
                            <i class="feather feather-x"></i>
                        </a>
                    </div>
                    <div class="mt-0">
                        <form class="form-inline">
                            <div class="search-element">
                                <input type="search" class="form-control header-search" placeholder="Search…" aria-label="Search" tabindex="1">
                                <button class="btn btn-primary-color">
                                    <i class="feather feather-search"></i>
                                </button>
                            </div>
                        </form>
                    </div><!-- SEARCH -->
                    <div class="d-flex order-lg-2 my-auto ml-auto">
                        <a class="nav-link my-auto icon p-0 nav-link-lg d-md-none navsearch" href="#" data-toggle="search">
                            <i class="feather feather-search search-icon header-icon"></i>
                        </a>
                        <div class="dropdown header-flags">
                            <a class="nav-link icon" data-toggle="dropdown">
                                <img src="../../assets/images/flags/flag-png/united-kingdom.png" class="h-24" alt="img">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow animated">
                                <a href="#" class="dropdown-item d-flex ">
                                    <span class="avatar  mr-3 align-self-center bg-transparent"><img src="../../assets/images/flags/flag-png/india.png" alt="img" class="h-24"></span>
                                    <div class="d-flex"> <span class="my-auto">India</span> </div>
                                </a>
                                <a href="#" class="dropdown-item d-flex">
                                    <span class="avatar  mr-3 align-self-center bg-transparent"><img src="../../assets/images/flags/flag-png/united-kingdom.png" alt="img" class="h-24"></span>
                                    <div class="d-flex"> <span class="my-auto">UK</span> </div>
                                </a>
                                <a href="#" class="dropdown-item d-flex">
                                    <span class="avatar mr-3 align-self-center bg-transparent"><img src="../../assets/images/flags/flag-png/italy.png" alt="img" class="h-24"></span>
                                    <div class="d-flex"> <span class="my-auto">Italy</span> </div>
                                </a>
                                <a href="#" class="dropdown-item d-flex">
                                    <span class="avatar mr-3 align-self-center bg-transparent"><img src="../../assets/images/flags/flag-png/united-states-of-america.png" class="h-24" alt="img"></span>
                                    <div class="d-flex"> <span class="my-auto">US</span> </div>
                                </a>
                                <a href="#" class="dropdown-item d-flex">
                                    <span class="avatar  mr-3 align-self-center bg-transparent"><img src="../../assets/images/flags/flag-png/spain.png" alt="img" class="h-24"></span>
                                    <div class="d-flex"> <span class="my-auto">Spain</span> </div>
                                </a>
                            </div>
                        </div>
                        <div class="dropdown header-fullscreen">
                            <a class="nav-link icon full-screen-link">
                                <i class="feather feather-maximize fullscreen-button fullscreen header-icons"></i>
                                <i class="feather feather-minimize fullscreen-button exit-fullscreen header-icons"></i>
                            </a>
                        </div>
                        <div class="dropdown header-message">
                            <a class="nav-link icon" data-toggle="dropdown">
                                <i class="feather feather-mail header-icon"></i>
                                <span class="badge badge-success side-badge">5</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow  animated">
                                <div class="header-dropdown-list message-menu" id="message-menu">
                                    <a class="dropdown-item border-bottom" href="#">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <span class="avatar avatar-md brround align-self-center cover-image" data-image-src="../../assets/images/users/1.jpg"></span>
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <h6 class="mb-1">Jack Wright</h6>
                                                    <p class="fs-13 mb-1">All the best your template awesome</p>
                                                    <div class="small text-muted">
                                                        3 hours ago
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item border-bottom" href="#">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <span class="avatar avatar-md brround align-self-center cover-image" data-image-src="../../assets/images/users/2.jpg"></span>
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <h6 class="mb-1">Lisa Rutherford</h6>
                                                    <p class="fs-13 mb-1">Hey! there I'm available</p>
                                                    <div class="small text-muted">
                                                        5 hour ago
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item border-bottom" href="#">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <span class="avatar avatar-md brround align-self-center cover-image" data-image-src="../../assets/images/users/3.jpg"></span>
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <h6 class="mb-1">Blake Walker</h6>
                                                    <p class="fs-13 mb-1">Just created a new blog post</p>
                                                    <div class="small text-muted">
                                                        45 mintues ago
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item border-bottom" href="#">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <span class="avatar avatar-md brround align-self-center cover-image" data-image-src="../../assets/images/users/4.jpg"></span>
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <h6 class="mb-1">Fiona Morrison</h6>
                                                    <p class="fs-13 mb-1">Added new comment on your photo</p>
                                                    <div class="small text-muted">
                                                        2 days ago
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item border-bottom" href="#">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <span class="avatar avatar-md brround align-self-center cover-image" data-image-src="../../assets/images/users/6.jpg"></span>
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <h6 class="mb-1">Stewart Bond</h6>
                                                    <p class="fs-13 mb-1">Your payment invoice is generated</p>
                                                    <div class="small text-muted">
                                                        3 days ago
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class=" text-center p-2">
                                    <a href="#" class="">See All Messages</a>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown header-notify">
                            <a class="nav-link icon" data-toggle="sidebar-right" data-target=".sidebar-right">
                                <i class="feather feather-bell header-icon"></i>
                                <span class="bg-dot"></span>
                            </a>
                        </div>
                        <div class="dropdown profile-dropdown">
                            <a href="#" class="nav-link pr-1 pl-0 leading-none" data-toggle="dropdown">
                                <span>
                                    <img src="../../assets/images/users/16.jpg" alt="img" class="avatar avatar-md bradius">
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow animated">
                                <div class="p-3 text-center border-bottom">
                                    <a href="#" class="text-center user pb-0 font-weight-bold">John Thomson</a>
                                    <p class="text-center user-semi-title">App Developer</p>
                                </div>
                                <a class="dropdown-item d-flex" href="#">
                                    <i class="feather feather-user mr-3 fs-16 my-auto"></i>
                                    <div class="mt-1">Profile</div>
                                </a>
                                <a class="dropdown-item d-flex" href="#">
                                    <i class="feather feather-settings mr-3 fs-16 my-auto"></i>
                                    <div class="mt-1">Settings</div>
                                </a>
                                <a class="dropdown-item d-flex" href="#">
                                    <i class="feather feather-mail mr-3 fs-16 my-auto"></i>
                                    <div class="mt-1">Messages</div>
                                </a>
                                <a class="dropdown-item d-flex" href="#" data-toggle="modal" data-target="#changepasswordnmodal">
                                    <i class="feather feather-edit-2 mr-3 fs-16 my-auto"></i>
                                    <div class="mt-1">Change Password</div>
                                </a>
                                <a class="dropdown-item d-flex" href="#">
                                    <i class="feather feather-power mr-3 fs-16 my-auto"></i>
                                    <div class="mt-1">Sign Out</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/app header-->
        <!--Page header-->
        <div class="page-header d-xl-flex d-block">
            <div class="page-leftheader">
                <h4 class="page-title">Project<span class="font-weight-normal text-muted ml-2">Dashboard</span></h4>
            </div>
            <div class="page-rightheader ml-md-auto">
                <div class="d-flex align-items-end flex-wrap my-auto right-content breadcrumb-right">
                    <div class="btn-list">
                        <button class="btn btn-primary "><i class="feather feather-plus fs-15 my-auto mr-2"></i>Create New Project</button>
                        <button class="btn btn-light" data-toggle="tooltip" data-placement="top" title="E-mail"> <i class="feather feather-mail"></i> </button>
                        <button class="btn btn-light" data-placement="top" data-toggle="tooltip" title="Contact"> <i class="feather feather-phone-call"></i> </button>
                        <button class="btn btn-primary" data-placement="top" data-toggle="tooltip" title="Info"> <i class="feather feather-info"></i> </button>
                    </div>
                </div>
            </div>
        </div>
        <!--End Page header-->
        <!-- Row -->
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-7">
                                <div class="mt-0 text-left">
                                    <span class="fs-16 font-weight-semibold">Projetcs</span>
                                    <h3 class="mb-0 mt-1 text-primary fs-25">164</h3>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="icon1 bg-primary-transparent my-auto  float-right"> <i class="feather feather-briefcase"></i> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-7">
                                <div class="mt-0 text-left">
                                    <span class="fs-16 font-weight-semibold">Pending Projects</span>
                                    <h3 class="mb-0 mt-1 text-danger fs-25">14</h3>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="icon1 bg-danger-transparent my-auto  float-right"> <i class="feather feather-briefcase"></i> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-7">
                                <div class="mt-0 text-left">
                                    <span class="fs-16 font-weight-semibold">Completed Projects</span>
                                    <h3 class="mb-0 mt-1 text-success fs-25">35</h3>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="icon1 bg-success-transparent my-auto  float-right"> <i class="feather feather-check"></i> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-7">
                                <div class="mt-0 text-left">
                                    <span class="fs-16 font-weight-semibold">On going Projects</span>
                                    <h3 class="mb-0 mt-1 text-secondary fs-25">15</h3>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="icon1 bg-secondary-transparent my-auto  float-right"> <i class="feather feather-info"></i> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Row -->
        <!-- Row -->
        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <div class="card-header pt-0 pl-0 ml-0 mb-4 mt-4 border-bottom-0 responsive-header">
                        <h4 class="card-title">Recent Project Updates</h4>
                        <div class="card-options">
                            <div class="btn-list">
                                <a href="#" class="btn btn-primary">Add Project</a>
                                <a href="#" class="btn btn-light">View All</a>
                                <a href="#" class="btn btn-light mr-0 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Latest <i class="feather feather-chevron-down"></i> </a>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    <li><a href="#">Monthly</a></li>
                                    <li><a href="#">Yearly</a></li>
                                    <li><a href="#">Weekly</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-12 col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-9">
                                            <div class="mt-0 text-left">
                                                <a href="project-view.html" class="mb-0 mt-1 mb-2 font-weight-semibold h4">Adobe XD</a>
                                                <p class="tx-16 font-weight-semibold text-muted mb-2">Designing Department</p>
                                                <span class="fs-14 mt-2 text-muted">Mobile App Ui Designing and Prototyping</span>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="task-img bg-light my-auto float-right">
                                                <img src="../../assets/images/png/task1.png" alt="img" class="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="d-md-flex">
                                        <div class="d-flex mb-3 mb-md-0">
                                            <div class="avatar-list avatar-list-stacked">
                                                <span class="avatar avatar-md brround" style="background-image: url(../../assets/images/users/1.jpg)"></span>
                                                <span class="avatar avatar-md brround" style="background-image: url(../../assets/images/users/9.jpg)"></span>
                                                <span class="avatar avatar-md brround bg-light text-dark">6</span>
                                            </div>
                                            <div class="ml-5">
                                                <div class="chart-circle chart-circle-xs" data-value="0.75" data-thickness="3" data-color="#0dcd94">
                                                    <div class="chart-circle-value text-success fs-15">75</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ml-auto mt-3 mt-sm-0">
                                            <div class="d-flex">
                                                <div class="task-btn border-danger text-danger" data-toggle="tooltip" data-placement="top" title="Project Priority">High</div>
                                                <a class="btn btn-outline-light  text-muted" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fe fe-more-vertical"></i></a>
                                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                    <li><a href="#"><i class="feather feather-eye mr-2"></i>View</a></li>
                                                    <li><a href="#"><i class="feather feather-plus-circle mr-2"></i>Add</a></li>
                                                    <li><a href="#"><i class="feather feather-trash-2 mr-2"></i>Remove</a></li>
                                                    <li><a href="#"><i class="feather feather-settings mr-2"></i>More</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-12 col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-9">
                                            <div class="mt-0 text-left">
                                                <a href="project-view.html" class="mb-0 mt-1 mb-2 font-weight-semibold h4">HTML</a>
                                                <p class="tx-16 font-weight-semibold text-muted mb-2">HTML Designing Department</p>
                                                <span class="fs-14 mt-2 text-muted">Updated Version 4.2.10 and Minor issues fixed</span>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="task-img bg-light my-auto float-right">
                                                <img src="../../assets/images/png/task2.png" alt="img" class="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="d-md-flex">
                                        <div class="d-flex mb-3 mb-md-0">
                                            <div class="avatar-list avatar-list-stacked">
                                                <span class="avatar avatar-md brround" style="background-image: url(../../assets/images/users/2.jpg)"></span>
                                                <span class="avatar avatar-md brround" style="background-image: url(../../assets/images/users/10.jpg)"></span>
                                                <span class="avatar avatar-md brround bg-light text-dark">4</span>
                                            </div>
                                            <div class="ml-5">
                                                <div class="chart-circle chart-circle-xs" data-value="0.38" data-thickness="3" data-color="#3366ff">
                                                    <div class="chart-circle-value text-primary fs-15">38</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ml-auto mt-3 mt-sm-0">
                                            <div class="d-flex">
                                                <div class="task-btn border-success text-success" data-toggle="tooltip" data-placement="top" title="Project Priority">Low</div>
                                                <a class="btn btn-outline-light  text-muted" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fe fe-more-vertical"></i></a>
                                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                    <li><a href="#"><i class="feather feather-eye mr-2"></i>View</a></li>
                                                    <li><a href="#"><i class="feather feather-plus-circle mr-2"></i>Add</a></li>
                                                    <li><a href="#"><i class="feather feather-trash-2 mr-2"></i>Remove</a></li>
                                                    <li><a href="#"><i class="feather feather-settings mr-2"></i>More</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-12 col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-9">
                                            <div class="mt-0 text-left">
                                                <a href="project-view.html" class="mb-0 mt-1 mb-2 font-weight-semibold h4">Angular</a>
                                                <p class="tx-16 font-weight-semibold text-muted mb-2">Angular  Department</p>
                                                <span class="fs-14 mt-2 text-muted">Old Template Angular Version Updated</span>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="task-img bg-light my-auto float-right">
                                                <img src="../../assets/images/png/task3.png" alt="img" class="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="d-md-flex">
                                        <div class="d-flex mb-3 mb-md-0">
                                            <div class="avatar-list avatar-list-stacked">
                                                <span class="avatar avatar-md brround" style="background-image: url(../../assets/images/users/14.jpg)"></span>
                                                <span class="avatar avatar-md brround" style="background-image: url(../../assets/images/users/12.jpg)"></span>
                                                <span class="avatar avatar-md brround bg-light text-dark">8</span>
                                            </div>
                                            <div class="ml-5">
                                                <div class="chart-circle chart-circle-xs" data-value="0.67" data-thickness="3" data-color="#ffad00">
                                                    <div class="chart-circle-value text-warning fs-15">67</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ml-auto mt-3 mt-sm-0">
                                            <div class="d-flex">
                                                <div class="task-btn border-warning text-warning" data-toggle="tooltip" data-placement="top" title="Project Priority">Medium</div>
                                                <a class="btn btn-outline-light  text-muted" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fe fe-more-vertical"></i></a>
                                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                    <li><a href="#"><i class="feather feather-eye mr-2"></i>View</a></li>
                                                    <li><a href="#"><i class="feather feather-plus-circle mr-2"></i>Add</a></li>
                                                    <li><a href="#"><i class="feather feather-trash-2 mr-2"></i>Remove</a></li>
                                                    <li><a href="#"><i class="feather feather-settings mr-2"></i>More</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-12 col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-9">
                                            <div class="mt-0 text-left">
                                                <h4 class="mb-0 mt-1 mb-2 font-weight-semibold">Responsive Team</h4>
                                                <p class="tx-16 font-weight-semibold text-muted mb-2">Online Services and Live Chart</p>
                                                <span class="fs-14 mt-2 text-muted">Comapny Online Services & Support</span>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="task-img bg-light my-auto float-right">
                                                <img src="../../assets/images/png/task4.png" alt="img" class="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="d-md-flex">
                                        <div class="d-flex mb-3 mb-md-0">
                                            <div class="avatar-list avatar-list-stacked">
                                                <span class="avatar avatar-md brround" style="background-image: url(../../assets/images/users/4.jpg)"></span>
                                                <span class="avatar avatar-md brround" style="background-image: url(../../assets/images/users/13.jpg)"></span>
                                                <span class="avatar avatar-md brround bg-light text-dark">3</span>
                                            </div>
                                            <div class="ml-5">
                                                <div class="chart-circle chart-circle-xs" data-value="0.49" data-thickness="3" data-color="#0dcd94">
                                                    <div class="chart-circle-value text-success fs-15">49</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ml-auto mt-3 mt-sm-0">
                                            <div class="d-flex">
                                                <div class="task-btn border-danger text-danger" data-toggle="tooltip" data-placement="top" title="Project Priority">High</div>
                                                <a class="btn btn-outline-light  text-muted" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fe fe-more-vertical"></i></a>
                                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                    <li><a href="#"><i class="feather feather-eye mr-2"></i>View</a></li>
                                                    <li><a href="#"><i class="feather feather-plus-circle mr-2"></i>Add</a></li>
                                                    <li><a href="#"><i class="feather feather-trash-2 mr-2"></i>Remove</a></li>
                                                    <li><a href="#"><i class="feather feather-download-cloud mr-2"></i>Download</a></li>
                                                    <li><a href="#"><i class="feather feather-settings mr-2"></i>More</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Row -->
        <!--Row-->
        <div class="row">
            <div class="col-xl-9 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header  border-0 responsive-header">
                        <h4 class="card-title">Statistics</h4>
                        <div class="card-options">
                            <div class="btn-list">
                                <a href="#" class="btn btn-outline-light text-dark float-left mr-4 d-flex my-auto"><span class="dot-label bg-primary mr-2 my-auto"></span>On going</a>
                                <a href="#" class="btn btn-outline-light text-dark float-left mr-4 d-flex my-auto"><span class="dot-label bg-secondary mr-2 my-auto"></span>Completed</a>
                                <a href="#" class="btn  btn-outline-light" data-toggle="dropdown" aria-expanded="false"> Year <i class="feather feather-chevron-down"></i> </a>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    <li><a href="#">Monthly</a></li>
                                    <li><a href="#">Yearly</a></li>
                                    <li><a href="#">Weekly</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart-wrapper">
                            <canvas id="statistics"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header border-bottom-0">
                        <h4 class="card-title">Milestones</h4>
                        <div class="card-options">
                            <div class="dropdown">
                                <a href="#" class="btn ripple btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> See All <i class="feather feather-chevron-down"></i> </a>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    <li><a href="#">Monthly</a></li>
                                    <li><a href="#">Yearly</a></li>
                                    <li><a href="#">Weekly</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-2">
                        <div class="mb-5">
                            <div class="list-group-item d-flex p-0 pb-1 align-items-center border-0">
                                <div class="d-flex">
                                    <div class="icon1 bg-pink-transparent mr-4">
                                        <i class="feather feather-briefcase"></i>
                                    </div>
                                    <div class="mt-2">
                                        <h6 class="mb-1 font-weight-semibold fs-16">Grocery App Development</h6>
                                        <span class="clearfix"></span>
                                        <span class="fs-14 text-muted"><span class="font-weight-semibold">Deadline:</span> To Day 11:00 Am</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-5">
                            <div class="d-flex">
                                <div class="icon1 bg-success-transparent mr-4">
                                    <i class="feather feather-airplay"></i>
                                </div>
                                <div class="mt-2">
                                    <h6 class="mb-1 font-weight-semibold fs-16">Ui Update</h6>
                                    <span class="clearfix"></span>
                                    <span class="fs-14 text-muted"><span class="font-weight-semibold">Deadline:</span> To Day 2:30 Pm</span>
                                </div>
                            </div>
                        </div>
                        <div class="mb-5">
                            <div class="d-flex">
                                <div class="icon1 bg-orange-transparent mr-4">
                                    <i class="feather feather-file"></i>
                                </div>
                                <div class="mt-2">
                                    <h6 class="mb-1 font-weight-semibold fs-16">Psd Template</h6>
                                    <span class="clearfix"></span>
                                    <span class="fs-14 text-muted"><span class="font-weight-semibold">Deadline:</span> Tomorrow 11:00 Am</span>
                                </div>
                            </div>
                        </div>
                        <div class="mb-5">
                            <div class="d-flex">
                                <div class="icon1 bg-info-transparent mr-4">
                                    <i class="feather feather-trending-up"></i>
                                </div>
                                <div class="mt-2">
                                    <h6 class="mb-1 font-weight-semibold fs-16">Version Update</h6>
                                    <span class="clearfix"></span>
                                    <span class="fs-14 text-muted"><span class="font-weight-semibold">Deadline:</span> 1 Week To Left</span>
                                </div>
                            </div>
                        </div>
                        <div class="mb-0">
                            <div class="d-flex">
                                <div class="icon1 bg-primary-transparent mr-4">
                                    <i class="feather feather-smartphone"></i>
                                </div>
                                <div class="mt-2">
                                    <h6 class="mb-1 font-weight-semibold fs-16">Mobile App</h6>
                                    <span class="clearfix"></span>
                                    <span class="fs-14 text-muted"><span class="font-weight-semibold">Deadline:</span> 3 days To Left</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Row -->
        <!--Row-->
        <div class="row">
            <div class="col-xl-9 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-xl-6 col-lg-12 col-md-12">
                        <div class="card overflow-hidden">
                            <div class="card-header border-0">
                                <h4 class="card-title">In Progress Projects</h4>
                                <div class="card-options pr-3">
                                    <a href="" class="mr-0  fs-25 option-dots text-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <span class="feather feather-more-horizontal"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><a href="#"><i class="feather feather-eye mr-2"></i>View</a></li>
                                        <li><a href="#"><i class="feather feather-plus-circle mr-2"></i>Add</a></li>
                                        <li><a href="#"><i class="feather feather-trash-2 mr-2"></i>Remove</a></li>
                                        <li><a href="#"><i class="feather feather-download-cloud mr-2"></i>Download</a></li>
                                        <li><a href="#"><i class="feather feather-settings mr-2"></i>More</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body p-0 pt-3">
                                <div class="border-bottom project-progress-content">
                                    <a href="#" class="list-group-item d-sm-flex  align-items-center border-0">
                                        <div class="d-flex">
                                            <div class="task-img bg-primary-transparent mr-4">
                                                <img src="../../assets/images/photos/html.png" alt="img" class="">
                                            </div>
                                            <div class="mt-1">
                                                <h6 class="mb-1 font-weight-semibold fs-16">Mobile App</h6>
                                                <span class="clearfix"></span>
                                                <span class="fs-14 text-muted">html  upload New file to server</span>
                                                <div class="d-flex mt-1">
                                                    <span class="fs-14 text-muted"><span class="font-weight-semibold">Deadline:</span> To Day 11:00 Am</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ml-auto mr-3 mt-4 mt-md-0">
                                            <p class="text-muted  fs-13 ml-auto text-right mb-3">Just Now</p>
                                            <div class="d-flex">
                                                <div class="chart-circle chart-circle-xxs" data-value="0.62" data-thickness="3" data-color="#0dcd94" data-toggle="tooltip" data-placement="top" title="Project Status">
                                                    <div class="chart-circle-value text-success">62</div>
                                                </div>
                                                <div class="float-right avatar-list avatar-list-stacked ml-2">
                                                    <span class="avatar avatar brround" style="background-image: url(../../assets/images/users/1.jpg)"></span>
                                                    <span class="avatar avatar brround" style="background-image: url(../../assets/images/users/9.jpg)"></span>
                                                    <span class="avatar avatar brround" style="background-image: url(../../assets/images/users/12.jpg)"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="border-bottom project-progress-content">
                                    <a href="#" class="list-group-item d-sm-flex  align-items-center border-0">
                                        <div class="d-flex">
                                            <div class="task-img bg-primary-transparent mr-4">
                                                <img src="../../assets/images/photos/sass.png" alt="img" class="">
                                            </div>
                                            <div class="mt-1">
                                                <h6 class="mb-1 font-weight-semibold fs-16">Web Department</h6>
                                                <span class="clearfix"></span>
                                                <span class="fs-14 text-muted">Theme Design And Styles Updated</span>
                                                <div class="d-flex mt-1">
                                                    <span class="fs-14 text-muted"><span class="font-weight-semibold">Deadline:</span> Tomorrow 11:00 Am</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ml-auto mr-3 mt-4 mt-md-0">
                                            <p class="text-muted  fs-13 ml-auto text-right mb-3">10 Mins ago</p>
                                            <div class="d-flex">
                                                <div class="chart-circle chart-circle-xxs" data-value="0.38" data-thickness="3" data-color="#3366ff" data-toggle="tooltip" data-placement="top" title="Project Status">
                                                    <div class="chart-circle-value text-primary">38</div>
                                                </div>
                                                <div class="float-right avatar-list avatar-list-stacked ml-2">
                                                    <span class="avatar avatar brround" style="background-image: url(../../assets/images/users/7.jpg)"></span>
                                                    <span class="avatar avatar brround" style="background-image: url(../../assets/images/users/13.jpg)"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="project-progress-content">
                                    <a href="#" class="list-group-item d-sm-flex  align-items-center border-0">
                                        <div class="d-flex">
                                            <div class="task-img bg-primary-transparent mr-4">
                                                <img src="../../assets/images/photos/laravel.png" alt="img" class="">
                                            </div>
                                            <div class="mt-1">
                                                <h6 class="mb-1 font-weight-semibold fs-16">Development Department</h6>
                                                <span class="clearfix"></span>
                                                <span class="fs-14 text-muted">Updated Version 4.2.10</span>
                                                <div class="d-flex mt-1">
                                                    <span class="fs-14 text-muted"><span class="font-weight-semibold">Deadline:</span> 3 days To Left</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ml-auto mr-3 mt-4 mt-md-0">
                                            <p class="text-muted  fs-13 ml-auto text-right mb-3">12 Mins ago</p>
                                            <div class="d-flex">
                                                <div class="chart-circle chart-circle-xxs" data-value="0.46" data-thickness="3" data-color="#f15719" data-toggle="tooltip" data-placement="top" title="Project Status">
                                                    <div class="chart-circle-value text-orange">46</div>
                                                </div>
                                                <div class="float-right avatar-list avatar-list-stacked ml-2">
                                                    <span class="avatar avatar brround" style="background-image: url(../../assets/images/users/4.jpg)"></span>
                                                    <span class="avatar avatar brround" style="background-image: url(../../assets/images/users/15.jpg)"></span>
                                                    <span class="avatar avatar brround" style="background-image: url(../../assets/images/users/5.jpg)"></span>
                                                    <span class="avatar avatar brround" style="background-image: url(../../assets/images/users/14.jpg)"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-12">
                        <div class="card">
                            <div class="card-header border-bottom-0">
                                <h4 class="card-title">Activity</h4>
                                <div class="card-options pr-3">
                                    <div class="dropdown">
                                        <a href="#" class="btn ripple btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> See All <i class="feather feather-chevron-down"></i> </a>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                            <li><a href="#">Monthly</a></li>
                                            <li><a href="#">Yearly</a></li>
                                            <li><a href="#">Weekly</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="mb-5">
                                    <div class="list-group-item d-flex p-0  align-items-center border-0">
                                        <div class="d-flex">
                                            <span class="avatar avatar-lg bradius mr-3" style="background-image: url(../../assets/images/users/4.jpg)"></span>
                                            <div class="mt-1">
                                                <h6 class="mb-1 font-weight-semibold fs-16">
                                                    Faith Harrits
                                                    <span class="font-weight-normal text-muted">Completed Project</span> Ui Development
                                                </h6>
                                                <span class="clearfix"></span>
                                                <span class="fs-14 text-muted">Just Now</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-5">
                                    <div class="list-group-item d-flex p-0  align-items-center border-0">
                                        <div class="d-flex">
                                            <span class="avatar avatar-lg bradius mr-3" style="background-image: url(../../assets/images/users/12.jpg)"></span>
                                            <div class="mt-1">
                                                <h6 class="mb-1 font-weight-semibold fs-16">
                                                    James Paige
                                                    <span class="font-weight-normal text-muted">Update</span> new Version <span class="font-weight-normal text-muted">angular 10.4....</span>
                                                </h6>
                                                <span class="clearfix"></span>
                                                <span class="fs-14 text-muted">10 Mins ago</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-5">
                                    <div class="list-group-item d-flex p-0  align-items-center border-0">
                                        <div class="d-flex">
                                            <span class="avatar avatar-lg bradius mr-3 bg-primary-transparent">L</span>
                                            <div class="mt-1">
                                                <h6 class="mb-1 font-weight-semibold fs-16">
                                                    Liam Miller
                                                    <span class="font-weight-normal text-muted">Attach design file New Update....</span>
                                                </h6>
                                                <span class="clearfix"></span>
                                                <span class="fs-14 text-muted"> 1 Hour Ago</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-0">
                                    <div class="list-group-item d-flex p-0  align-items-center border-0">
                                        <div class="d-flex">
                                            <span class="avatar avatar-lg bradius mr-3" style="background-image: url(../../assets/images/users/16.jpg)"></span>
                                            <div class="mt-1">
                                                <h6 class="mb-1 font-weight-semibold fs-16">
                                                    Kimberly Berry
                                                    <span class="font-weight-normal text-muted">Submitted new Design approval.....</span>
                                                </h6>
                                                <span class="clearfix"></span>
                                                <span class="fs-14 text-muted">3 Hours Ago</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-12 col-lg-12">
                <div class="card chart-donut1">
                    <div class="card-header  border-0">
                        <h4 class="card-title">Employee Gender</h4>
                    </div>
                    <div class="card-body">
                        <div id="employee" class="mx-auto"></div>
                        <div class="sales-chart pt-5 d-flex mx-auto text-center justify-content-center ">
                            <div class="d-flex mr-5"><span class="dot-label bg-primary mr-2 my-auto"></span>Male</div>
                            <div class="d-flex"><span class="dot-label bg-secondary mr-2 my-auto"></span>Female</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Row-->
        <!--Row-->
        <div class="row">
            <div class="col-xl-9 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header border-0">
                        <h4 class="card-title">Project Summary</h4>
                        <div class="card-options pr-3">
                            <div class="dropdown">
                                <a href="#" class="btn ripple btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> View All <i class="feather feather-chevron-down"></i> </a>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    <li><a href="#">Monthly</a></li>
                                    <li><a href="#">Yearly</a></li>
                                    <li><a href="#">Weekly</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-3 p-0">
                        <div class="table-responsive">
                            <table class="table table-vcenter text-nowrap border-top  mb-0" id="projecttable">
                                <thead>
                                    <tr>
                                        <th class="wd-10p border-bottom-0">Project</th>
                                        <th class="wd-15p border-bottom-0">Team</th>
                                        <th class="wd-15p border-bottom-0">Start Date</th>
                                        <th class="w-15p border-bottom-0">Due Date</th>
                                        <th class="wd-20p border-bottom-0">Work Status</th>
                                        <th class="wd-5p border-bottom-0"></th>
                                        <th class="wd-25p border-bottom-0">Status</th>
                                        <th class="wd-25p border-bottom-0">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="project-view.html" class="text-dark font-weight-semibold">Mobile Application</a>
                                        </td>
                                        <td>
                                            <div class="avatar-list avatar-list-stacked">
                                                <img class="avatar avatar-md brround" src="../../assets/images/users/12.jpg" alt="img">
                                                <img class="avatar avatar-md brround" src="../../assets/images/users/3.jpg" alt="img">
                                                <img class="avatar avatar-md brround" src="../../assets/images/users/2.jpg" alt="img">
                                                <img class="avatar avatar-md brround" src="../../assets/images/users/5.jpg" alt="img">
                                            </div>
                                        </td>
                                        <td>14 Jan 2021</td>
                                        <td>16 Jan 2021</td>
                                        <td>
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-primary w-55"></div>
                                            </div>
                                        </td>
                                        <td><span class="text-primary fs-15">57%</span></td>
                                        <td><span class="text-nuted">Active</span></td>
                                        <td class="text-left d-flex">
                                            <a href="#" class="action-btns1" data-toggle="tooltip" data-placement="top" title="Mail"><i class="feather feather-mail  text-primary"></i></a>
                                            <a href="#" class="action-btns1" data-toggle="tooltip" data-placement="top" title="Delete"><i class="feather feather-trash-2 text-danger"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="project-view.html" class="text-dark font-weight-semibold">Development</a>
                                        </td>
                                        <td>
                                            <div class="avatar-list avatar-list-stacked">
                                                <img class="avatar avatar-md brround" src="../../assets/images/users/2.jpg" alt="img">
                                                <img class="avatar avatar-md brround" src="../../assets/images/users/13.jpg" alt="img">
                                                <img class="avatar avatar-md brround" src="../../assets/images/users/5.jpg" alt="img">
                                                <img class="avatar avatar-md brround" src="../../assets/images/users/16.jpg" alt="img">
                                            </div>
                                        </td>
                                        <td>14 Jan 2021</td>
                                        <td>18 Jan 2021</td>
                                        <td>
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-primary w-30"></div>
                                            </div>
                                        </td>
                                        <td><span class="text-primary fs-15">34%</span></td>
                                        <td><span class="text-nuted">Active</span></td>
                                        <td class="text-left d-flex">
                                            <a href="#" class="action-btns1" data-toggle="tooltip" data-placement="top" title="Mail"><i class="feather feather-mail  text-primary"></i></a>
                                            <a href="#" class="action-btns1" data-toggle="tooltip" data-placement="top" title="Delete"><i class="feather feather-trash-2 text-danger"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="project-view.html" class="text-dark font-weight-semibold">Version Update</a>
                                        </td>
                                        <td>
                                            <div class="avatar-list avatar-list-stacked">
                                                <img class="avatar avatar-md brround" src="../../assets/images/users/1.jpg" alt="img">
                                                <img class="avatar avatar-md brround" src="../../assets/images/users/9.jpg" alt="img">
                                                <img class="avatar avatar-md brround" src="../../assets/images/users/4.jpg" alt="img">
                                                <img class="avatar avatar-md brround" src="../../assets/images/users/11.jpg" alt="img">
                                            </div>
                                        </td>
                                        <td>14 Jan 2021</td>
                                        <td>16 Jan 2021</td>
                                        <td>
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-success w-100"></div>
                                            </div>
                                        </td>
                                        <td><span class="text-success fs-15">100%</span></td>
                                        <td><span class="text-nuted">Done</span></td>
                                        <td class="text-left d-flex">
                                            <a href="#" class="action-btns1" data-toggle="tooltip" data-placement="top" title="Mail"><i class="feather feather-mail  text-primary"></i></a>
                                            <a href="#" class="action-btns1" data-toggle="tooltip" data-placement="top" title="Delete"><i class="feather feather-trash-2 text-danger"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="project-view.html" class="text-dark font-weight-semibold">Psd Template</a>
                                        </td>
                                        <td>
                                            <div class="avatar-list avatar-list-stacked">
                                                <img class="avatar avatar-md brround" src="../../assets/images/users/2.jpg" alt="img">
                                                <img class="avatar avatar-md brround" src="../../assets/images/users/13.jpg" alt="img">
                                                <img class="avatar avatar-md brround" src="../../assets/images/users/6.jpg" alt="img">
                                                <img class="avatar avatar-md brround" src="../../assets/images/users/10.jpg" alt="img">
                                            </div>
                                        </td>
                                        <td>13 Jan 2021</td>
                                        <td>22 Jan 2021</td>
                                        <td>
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-orange w-50"></div>
                                            </div>
                                        </td>
                                        <td><span class="text-orange fs-15">50%</span></td>
                                        <td><span class="text-nuted">Pending</span></td>
                                        <td class="text-left d-flex">
                                            <a href="#" class="action-btns1" data-toggle="tooltip" data-placement="top" title="Mail"><i class="feather feather-mail  text-primary"></i></a>
                                            <a href="#" class="action-btns1" data-toggle="tooltip" data-placement="top" title="Delete"><i class="feather feather-trash-2 text-danger"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="project-view.html" class="text-dark font-weight-semibold">Development</a>
                                        </td>
                                        <td>
                                            <div class="avatar-list avatar-list-stacked">
                                                <img class="avatar avatar-md brround" src="../../assets/images/users/7.jpg" alt="img">
                                                <img class="avatar avatar-md brround" src="../../assets/images/users/9.jpg" alt="img">
                                                <img class="avatar avatar-md brround" src="../../assets/images/users/8.jpg" alt="img">
                                                <img class="avatar avatar-md brround" src="../../assets/images/users/11.jpg" alt="img">
                                            </div>
                                        </td>
                                        <td>12 Jan 2021</td>
                                        <td>18 Jan 2021</td>
                                        <td>
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-warning w-80"></div>
                                            </div>
                                        </td>
                                        <td><span class="text-warning fs-15">82%</span></td>
                                        <td><span class="text-nuted">Hold</span></td>
                                        <td class="text-left d-flex">
                                            <a href="#" class="action-btns1" data-toggle="tooltip" data-placement="top" title="Mail"><i class="feather feather-mail  text-primary"></i></a>
                                            <a href="#" class="action-btns1" data-toggle="tooltip" data-placement="top" title="Delete"><i class="feather feather-trash-2 text-danger"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header  border-0">
                        <h4 class="card-title">Calendar</h4>
                    </div>
                    <div class="card-body pt-0">
                        <div class="custom-calendar"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Row-->

    </div>
</div><!-- end app-content-->