@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

    <!-- Meta data -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta content="BugZapper - The tool that helps you banish bugs from your code." name="description">
    <meta content="Stephen Souvall" name="author">
    <meta name="keywords" content="Bug tracker, issue tracker, ticket tracking" />

    <!-- Title -->
    <title>BugZapper - An Issue Tracking System</title>

    <!--Favicon -->
    <link rel="icon" href="../../assets/images/brand/favicon-32x32.png" type="image/x-icon" />

    <!-- Bootstrap css -->
    <link href="../../assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />

    <!-- Style css -->
    <link href="../../assets/css/style.css" rel="stylesheet" />
    <link href="../../assets/css/dark.css" rel="stylesheet" />
    <link href="../../assets/css/skin-modes.css" rel="stylesheet" />

    <!-- Animate css -->
    <link href="../../assets/css/animated.css" rel="stylesheet" />

    <!---Icons css-->
    <link href="../../assets/css/icons.css" rel="stylesheet" />

    <!-- Select2 css -->
    <link href="../../assets/plugins/select2/select2.min.css" rel="stylesheet" />

    <!-- P-scroll bar css-->
    <link href="../../assets/plugins/p-scrollbar/p-scrollbar.css" rel="stylesheet" />

</head>

<body>

    <div class="page login-bg">
        <div class="page-single">
            <div class="container">
                <div class="row">
                    <div class="col mx-auto">
                        <div class="row justify-content-center">
                            <div class="col-md-7 col-lg-5">
                                <div class="card" id="landingCard">
                                    <div class="p-4 pt-6 text-center">
                                        <img src="~/assets/images/brand/bugzapper.png" alt="Bugzapper logo" />
                                        <h2 class="landingSub">Smash bugs in your code. Get more done. Keep your developers productive.</h2>
                                    </div>
                                    <a class="btn btn-lg btn-primary m-5" asp-area="Identity" asp-page="/Account/Login">Try it out!</a>
                                    <div class="card-body border-top-0 pb-6 pt-2">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Jquery js-->
    <script src="../../assets/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap4 js-->
    <script src="../../assets/plugins/bootstrap/popper.min.js"></script>
    <script src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- Select2 js -->
    <script src="../../assets/plugins/select2/select2.full.min.js"></script>

    <!-- P-scroll js-->
    <script src="../../assets/plugins/p-scrollbar/p-scrollbar.js"></script>

    <!-- Custom js-->
    <script src="../../assets/js/custom.js"></script>

</body>
</html>
