@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="card">
    <div class="header">
        <p class="lead">@ViewData["Title"]</p>
    </div>
    <div class="body">
        <p>@Model.StatusMessage</p>

        <a class="btn btn-primary btn-lg btn-block" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-sign-in"></i><span> SIGN IN</span></a>

    </div>
</div>