@page
@model RegisterConfirmationModel
@{ Layout = "_LoginLayout";
                ViewData["Title"] = "Register confirmation"; }


<div id="wrapper">
    <div class="vertical-align-wrap">
        <div class="vertical-align-middle auth-main">
            <div class="auth-box">
                <div class="top">
                </div>
                <div class="card">
                    <div class="header">
                        <p class="lead">@ViewData["Title"]</p>
                    </div>
                    <div class="body">
                        @{ if (@Model.DisplayConfirmAccountLink)
                                        {
                            <p>
                                This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
                                Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
                            </p> }
                                        else
                                        {
                            <p>
                                Please check your email to confirm your account.
                            </p> } }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}